/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
tests/vendor
composer.phar
public/uploads/assets/*
public/uploads/images/*
public/uploads/*.pdf
public/uploads/*.png
.DS_Store
